@use "../components/Header/header.scss" as *;
@use "../components/MenuMobile/menuMobile.scss" as *;
@use "../pages/Account/account.scss" as *;
@use "../pages/Add/add.scss" as *;
@use "../pages/Settings/settings.scss" as *;
@use "../modals/ModalRecommendations/modalReacommendations" as *;
@use "../modals/ModalMenuOther/modalMenuOther" as *;
@use "../pages/Recommendations/recommendations.scss" as *;
@use "../pages/AboutUs/aboutUs.scss" as *;
@use "../components/Video/video.scss" as *;
@use "../pages/Watch/watch.scss" as *;
@use "../components/Buttons/SubButton.scss" as *;
@use "../pages/NotFoundPage/notFound.scss" as *;
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  background: #201F1F;
  font-family: 'Nunito', sans-serif;
  color: white;

  a{
    text-decoration: none;
    color: white;
  }

  li{
    list-style: none;
  }
}