@use "../../styles/mixins/mixins" as*;

.main__account {
  @include account-styles;

  .subscribe-button{
    @include buttonStyle;
    padding: .5rem;
    width: 11rem;
    font-size: .9rem;
  }
}